// COLORS
// @inlcude cl(black);
//--------------------------------------------------

$colors: (
  white: #fff,
  black: #000,
  grey: #707070,
  primary: #ebebeb,
  text: #383838,
);

@function cl($key) {
  @return map-get($colors, $key);
}

// FONT SIZE
// @inlcude fs(normal);
//--------------------------------------------------

$font-sizes: (
  h1: 48px,
  h2: 32px,
  h3: 24px,
  normal: 16px,
  tiny: 14px,
  verytiny: 12px,
);

@function fs($key) {
  @return map-get($font-sizes, $key);
}

// WIDTH
// @inlcude w(mobile);
//--------------------------------------------------

$width: (
  mobile: 425px,
  tab: 768px,
  laptop: 1024px,
  laptopl: 1440px,
);

@function w($key) {
  @return map-get($width, $key);
}

// RESPONSIVE
// @include overTab
//--------------------------------------------------

@mixin overMobile {
  @media print, screen and (min-width: w(mobile)) {
    @content;
  }
}
@mixin overTab {
  @media print, screen and (min-width: w(tab)) {
    @content;
  }
}
@mixin overLaptop {
  @media print, screen and (min-width: w(laptop)) {
    @content;
  }
}
@mixin overLaptopL {
  @media print, screen and (min-width: w(laptopl)) {
    @content;
  }
}

// FLEX
// @include flex(center, center);
//--------------------------------------------------

@mixin flex($justify-content: unset, $align-items: unset) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}
